/* جعل الصفحة ممتدة لتغطية الشاشة */
.color-body {
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* تحسين الخطوط */
.font {
  font-family: "Almarai", sans-serif;
  font-family: "Cairo", sans-serif;
  font-size: 20px;
}

/* تحسين شكل المستطيل */
.rectangle {
  height: 600px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
}

/* تحسين النص العلوي */
.dates-count {
  color: #555555;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

/* تحسين أزرار التحكم */
.btn-style {
  width: 200px;
  border-radius: 8px;
  color: white;
  background-color: #224f61;
  border: none;
  transition: 0.3s;
}

.btn-style:hover {
  background-color: #1b3a4b;
  transform: scale(1.05);
}

/* تحسين مظهر الصورة الرمزية */
.img-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* ضبط الهوامش */
.mt-0 {
  margin-top: 0;
}
